Repository SKA-ScienceDataProcessor/integration-prototype, pull requests merged in 2018-07, with the labels that each got.

#36 Feature/docker compose generator
  .travis.yml
  sip/execution_framework_interface/docker_compose_generator/README.md
  sip/execution_framework_interface/docker_compose_generator/__init__.py
  sip/execution_framework_interface/docker_compose_generator/compose_generator.py
  sip/execution_framework_interface/docker_compose_generator/generators/__init__.py
  sip/execution_framework_interface/docker_compose_generator/generators/csp_vis_emulator.py
  sip/execution_framework_interface/docker_compose_generator/generators/static/README.md
  sip/execution_framework_interface/docker_compose_generator/generators/static/docker-compose.recv.j2.yml
  sip/execution_framework_interface/docker_compose_generator/generators/static/docker-compose.send.j2.yml
  sip/execution_framework_interface/docker_compose_generator/generators/static/recv.json
  sip/execution_framework_interface/docker_compose_generator/generators/static/send.j2.json
  sip/execution_framework_interface/docker_compose_generator/generators/utils.py
  sip/execution_framework_interface/docker_compose_generator/generators/vis_ingest.py
  sip/execution_framework_interface/docker_compose_generator/requirements.txt
  sip/execution_framework_interface/docker_compose_generator/tests/__init__.py
  sip/execution_framework_interface/docker_compose_generator/tests/test_generator.py
  sip/execution_framework_interface/docker_compose_generator/tests/workflow_stage_config.yml
Labels: Execution Control, feature

#34 Feature/ical dask
  .travis.yml
  sip/science_pipeline_workflows/ical_dask/DockerBuild_bind.sh
  sip/science_pipeline_workflows/ical_dask/README.md
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.pipeline_bind
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.scheduler
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.worker_bind
  sip/science_pipeline_workflows/ical_dask/pipelines/ical-pipeline.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging-modeling.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging-processing.py
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmICALstart.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmModeling.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmProcessing.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmStart_bind.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmStop.sh
Labels: ARL, Dask, Workflow, feature

#38 Fixed errors & warnings raised by the latest version of pylint
  sip/execution_control/processing_controller_interface/flask_api/app/db/client.py
  sip/execution_control/processing_controller_interface/flask_api/app/db/config_db_redis.py
  sip/execution_control/processing_controller_interface/flask_api/app/db/init.py
  sip/execution_control/processing_controller_interface/flask_api/app/db/mock/client.py
Labels: Execution Control, Processing Controller, bug

#39 Suggested updates and fixes for the ICAL Dask pipeline
  .pylintrc
  .travis.yml
  sip/science_pipeline_workflows/ical_dask/.dockerignore
  sip/science_pipeline_workflows/ical_dask/.gitignore
  sip/science_pipeline_workflows/ical_dask/DockerBuild_bind.sh
  sip/science_pipeline_workflows/ical_dask/README.md
  sip/science_pipeline_workflows/ical_dask/TODO.md
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.pipeline_bind
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.scheduler
  sip/science_pipeline_workflows/ical_dask/dockerfiles/Dockerfile.worker_bind
  sip/science_pipeline_workflows/ical_dask/pipelines/ical-pipeline.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging-modeling.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging-processing.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging_modeling.py
  sip/science_pipeline_workflows/ical_dask/pipelines/imaging_processing.py
  sip/science_pipeline_workflows/ical_dask/pipelines/requirements.arl.min.txt
  sip/science_pipeline_workflows/ical_dask/results/.placeholder
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmICALstart.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmModeling.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmProcessing.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmStart_bind.sh
  sip/science_pipeline_workflows/ical_dask/scripts/DaskSwarmStop.sh
  sip/science_pipeline_workflows/ical_dask/scripts/docker-compose.generate_data.yml
  sip/science_pipeline_workflows/ical_dask/scripts/docker-compose.process_data.yml
  sip/science_pipeline_workflows/ical_dask/scripts/docker-compose.start_ee.yml
Labels: ARL, Dask, Docker, fixes, workflows
