Repository SKA-ScienceDataProcessor/integration-prototype, pull requests merged in 2018-12, with the labels that each got.

#58 Downgraded EC configuration database redis version from 3.0.1 to 2.10.6
  sip/execution_control/configuration_db/CHANGELOG.md
  sip/execution_control/configuration_db/docker-compose.yml
  sip/execution_control/configuration_db/setup.py
  sip/execution_control/configuration_db/sip_config_db/_config_db_redis.py
  sip/execution_control/configuration_db/sip_config_db/release.py
  sip/execution_control/configuration_db/sip_config_db/tests/test_config_db_redis.py
Labels: Configuration Database, Execution Control, needs-review

#59 Updates/docker api
  sip/execution_control/docker_api/README.md
  sip/execution_control/docker_api/sip_docker_swarm/__init__.py
  sip/execution_control/docker_api/sip_docker_swarm/compose-file/docker-compose-replica.yml
  sip/execution_control/docker_api/sip_docker_swarm/docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/tests/disabled_example_p3_docker_client_usage.py
  sip/execution_control/docker_api/sip_docker_swarm/tests/test_docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/version.py
Labels: Docker, Execution Control, Update

#62 Adds a health check command when deploying the Tango SQL container
  deploy/demos_23_11_18/docker-compose.yml
Labels: Deployment, Docker, Tango Control, needs-review
