Repository SKA-ScienceDataProcessor/integration-prototype, pull requests merged in 2018-11, with the labels that each got.

#47 Feature/deploy swarm dask cluster
  deploy/dask_tests/Notes.md
  deploy/dask_tests/README.md
  deploy/dask_tests/TODO.md
  deploy/dask_tests/dask_base/Dockerfile
  deploy/dask_tests/dask_base/README.md
  deploy/dask_tests/dask_casacore_base/Dockerfile
  deploy/dask_tests/dask_casacore_base/README.md
  deploy/dask_tests/dask_ee_interface/__init__.py
  deploy/dask_tests/dask_ee_interface/dask_ee_init_logging.py
  deploy/dask_tests/dask_ee_interface/dask_ee_interface.py
  deploy/dask_tests/dask_ee_interface/docker_stack.py
  deploy/dask_tests/dask_ee_interface/docker_swarm_interface.py
  deploy/dask_tests/dask_ee_interface/tests/__init__.py
  deploy/dask_tests/dask_ee_interface/tests/test_stack.py
  deploy/dask_tests/dask_ee_interface/workflow.json
  deploy/dask_tests/dask_scheduler_base/Dockerfile
  deploy/dask_tests/dask_scheduler_base/README.md
  deploy/dask_tests/dask_worker_base/Dockerfile
  deploy/dask_tests/dask_worker_base/README.md
  deploy/dask_tests/dask_workflow_test_01/README.md
  deploy/dask_tests/dask_workflow_test_01/docker-compose.yml
  deploy/dask_tests/dask_workflow_test_01/quickstart01.py
  deploy/dask_tests/dask_workflow_test_02/Dockerfile
  deploy/dask_tests/dask_workflow_test_02/README.md
  deploy/dask_tests/dask_workflow_test_02/config.yaml
  deploy/dask_tests/dask_workflow_test_02/docker-compose.hostnet.ee.yml
  deploy/dask_tests/dask_workflow_test_02/docker-compose.hostnet.workflow.yml
  deploy/dask_tests/dask_workflow_test_02/docker-compose.overlay.ee.yml
  deploy/dask_tests/dask_workflow_test_02/docker-compose.overlay.workflow.yml
  deploy/dask_tests/dask_workflow_test_02/workflow/__init__.py
  deploy/dask_tests/dask_workflow_test_02/workflow/__main__.py
  deploy/dask_tests/dask_workflow_test_02/workflow/functions.py
  deploy/dask_tests/dask_workflow_test_02/workflow/workflow.py
Labels: Dask, Feature

#49 Update/pci flask
  .travis.yml
  sip/execution_control/processing_controller_interface/flask_api/Dockerfile
  sip/execution_control/processing_controller_interface/flask_api/app/api/health.py
  sip/execution_control/processing_controller_interface/flask_api/requirements.txt
  sip/tango_control/flask_docker_base/Dockerfile
  sip/tango_control/flask_docker_base/README.md
  sip/tango_control/flask_docker_base/requirements.txt
  sip/tango_control/flask_processing_controller/API.md
  sip/tango_control/flask_processing_controller/Dockerfile
  sip/tango_control/flask_processing_controller/README.md
  sip/tango_control/flask_processing_controller/TODO.md
  sip/tango_control/flask_processing_controller/app/__init__.py
  sip/tango_control/flask_processing_controller/app/api/__init__.py
  sip/tango_control/flask_processing_controller/app/api/health.py
  sip/tango_control/flask_processing_controller/app/api/home.py
  sip/tango_control/flask_processing_controller/app/api/processing_block.py
  sip/tango_control/flask_processing_controller/app/api/processing_block_list.py
  sip/tango_control/flask_processing_controller/app/api/scheduling_block.py
  sip/tango_control/flask_processing_controller/app/api/scheduling_block_list.py
  sip/tango_control/flask_processing_controller/app/api/subarray.py
  sip/tango_control/flask_processing_controller/app/api/subarray_list.py
  sip/tango_control/flask_processing_controller/app/api/utils.py
  sip/tango_control/flask_processing_controller/app/app.py
  sip/tango_control/flask_processing_controller/app/old.db/README.md
  sip/tango_control/flask_processing_controller/app/old.db/__init__.py
  sip/tango_control/flask_processing_controller/app/old.db/client.py
  sip/tango_control/flask_processing_controller/app/old.db/config_db_redis.py
  sip/tango_control/flask_processing_controller/app/old.db/init.py
  sip/tango_control/flask_processing_controller/app/old.db/mock/__init__.py
  sip/tango_control/flask_processing_controller/app/old.db/mock/client.py
  sip/tango_control/flask_processing_controller/app/old.db/mock/init.py
  sip/tango_control/flask_processing_controller/app/old.db/mock/sbi_delete.json
  sip/tango_control/flask_processing_controller/app/old.db/mock/sbi_get.json
  sip/tango_control/flask_processing_controller/app/old.db/mock/sbi_list_get.json
  sip/tango_control/flask_processing_controller/app/old.db/mock/sbi_post.json
  sip/tango_control/flask_processing_controller/app/old.db/mock/sub_array_sbi_post.json
  sip/tango_control/flask_processing_controller/app/old.db/schema/scheduling_block_schema.json
  sip/tango_control/flask_processing_controller/app/tests/__init__.py
  sip/tango_control/flask_processing_controller/app/tests/conftest.py
  sip/tango_control/flask_processing_controller/app/tests/rest_api_fixtures.py
  sip/tango_control/flask_processing_controller/app/tests/test_config_db_client.py
  sip/tango_control/flask_processing_controller/app/tests/test_rest_pb_resource.py
  sip/tango_control/flask_processing_controller/app/tests/test_rest_root_resource.py
  sip/tango_control/flask_processing_controller/app/tests/test_rest_sa_resource.py
  sip/tango_control/flask_processing_controller/app/tests/test_rest_sbi_resource.py
  sip/tango_control/flask_processing_controller/docker-compose.dev.yml
  sip/tango_control/flask_processing_controller/docker-compose.yml
  sip/tango_control/flask_processing_controller/requirements.txt
Labels: Tango Control, Update

#56 Added Compose file and README for deploying Portainer.
  .travis.yml
  deploy/portainer/README.md
  deploy/portainer/docker-compose.yml
  sip/execution_control/master_controller/requirements.txt
  sip/tango_control/flask_master/requirements.txt
  sip/tango_control/flask_processing_controller/requirements.txt
  sip/tango_control/tango_docker_base/requirements.txt
Labels: Deployment, Devops, Docker, Feature
