Repository SKA-ScienceDataProcessor/integration-prototype, pull requests merged in 2019-02, with the labels that each got.

#63 Initial Healthcheck test in app ./sip/execution_control/master_contro…
  deploy/demos_23_11_18/docker-compose.yml
  sip/execution_control/master_controller/Dockerfile
  sip/execution_control/master_controller/requirements.txt
Labels: Execution Control, Master Controller, Update

#73 Bug fix: Translate 'environment' to 'env' in Docker Swarm client.
  sip/execution_control/docker_api/sip_docker_swarm/compose-file/docker-compose-env.yml
  sip/execution_control/docker_api/sip_docker_swarm/docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/tests/test_docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/version.py
  sip/execution_control/processing_block_controller/CHANGELOG.md
  sip/execution_control/processing_block_controller/requirements.txt
  sip/execution_control/processing_block_controller/setup.py
  sip/execution_control/processing_block_controller/sip_pbc/release.py
  sip/execution_control/processing_controller/CHANGELOG.md
  sip/execution_control/processing_controller/requirements.txt
  sip/execution_control/processing_controller/scheduler/release.py
Labels: Docker, Execution Control, bug, needs-review

#78 TSK-2755 Added workflow demo for SDP closeout.
  demos/02_running_a_workflow/Dockerfile
  demos/02_running_a_workflow/README.md
  demos/02_running_a_workflow/demo_prompt.sh
  demos/02_running_a_workflow/docker-compose.yml
  demos/02_running_a_workflow/follow_pbc_logs.sh
  demos/02_running_a_workflow/follow_pc_logs.sh
  demos/02_running_a_workflow/generate_sbi_config.py
  demos/02_running_a_workflow/watch_workflow_stages.sh
  demos/02_running_a_workflow/workflow/mock_workflow_1.0.0.json
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage1/1.0.0/args.json.j2
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage1/1.0.0/docker-compose.yaml.j2
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage2/1.0.0/args.json.j2
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage2/1.0.0/docker-compose.yaml.j2
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage3/1.0.0/args.json.j2
  demos/02_running_a_workflow/workflow/templates/mock_workflow/1.0.0/stage3/1.0.0/docker-compose.yaml.j2
Labels: Demos, needs-review, sdp-closeout
