Repository SKA-ScienceDataProcessor/integration-prototype, pull requests merged in 2019-03, with the labels that each got.

#82 TSK-2761 Fix Docker Swarm API mock workflow duration
  __init__.py
  sip/__init__.py
  sip/execution_control/__init__.py
  sip/execution_control/docker_api/sip_docker_swarm/compose-file/docker-compose.p3-fluentd.yml
  sip/execution_control/docker_api/sip_docker_swarm/compose-file/docker-compose.workflow.yml
  sip/execution_control/docker_api/sip_docker_swarm/docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/tests/test_docker_swarm_client.py
  sip/execution_control/docker_api/sip_docker_swarm/version.py
  sip/execution_control/processing_block_controller/requirements.txt
Labels: Docker, Execution Control

#84 TSK-2762 Add capability to write received data to storage
  sip/science_pipeline_workflows/ingest_visibilities/docker-compose-p3-c-multi-sender.yml
  sip/science_pipeline_workflows/ingest_visibilities/docker-compose-p3-c.yml
  sip/science_pipeline_workflows/ingest_visibilities/docker-compose-run-local-c.yml
  sip/science_pipeline_workflows/ingest_visibilities/recv_c/Dockerfile
  sip/science_pipeline_workflows/ingest_visibilities/recv_c/build_image.sh
  sip/science_pipeline_workflows/ingest_visibilities/recv_c/recv.c
Labels: Feature, Workflow

#81 TSK-2753 Updates to the EC Master Controller
  sip/execution_control/master_controller/app/__init__.py
  sip/execution_control/master_controller/app/__main__.py
  sip/execution_control/master_controller/docker-compose.dev.yml
  sip/tango_control/flask_master/app/app.py
  sip/tango_control/flask_master/app/release.py
  tools/get_itango_prompt.sh
Labels: Execution Control, Master Controller
